<h3 class="mb-4">Explore Letest</h3>


<div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">

    <% if(typeof exploreLetest !== 'undefine' && exploreLetest.length > 0){ %>
       <% exploreLetest.forEach((recipe, index)=>{ %>
    <a href="/detailsViewRecipes/<%- recipe._id %>" class="col text-center category__link">
        <div class="category__img category__img--large shadow">
            <img src="img/ <%- recipe.image %>" alt=" <%- recipe.recipeName %> " loading='lazy'>
        </div>
        <div class="pt-1"><%- recipe.recipeName %></div>
    </a>

<% }) %>
<% } else{%>
<p>No items found</p>
<%}%>
</div>