<h3 class="mb-4">Explore Random</h3>


<div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">

    <% if( exploreRandom != ''){ %>
    <a href="/detailsViewRecipes/<%- exploreRandom._id %>" class="col text-center category__link">
        <div class="category__img category__img--large shadow">
            <img src="img/ <%- exploreRandom.image %>" alt=" <%- exploreRandom.recipeName %> " loading='lazy'>
        </div>
        <div class="pt-1"><%- exploreRandom.recipeName %></div>
    </a>

<% } else{%>
<p>No items found</p>
<%}%>
</div>